
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Rental Form</h2>

<form id="newRental">
    <!-- ZenCoding
        install : Web Essential Plugin
        div.form-group>label+input[type='text'].form-control and press tab
    -->
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <!-- to apply custom jQuery custom validation-->
            <input id="customer" data-rule-validCustomer="true" type="text" value="" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" type="text" value="" class="form-control" />
        </div>
    </div>

    <!-- ul#movies.list-group -->
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
        $(document).ready(function () {

            vm = {
                customerId: "",
                movieIds: []
            };

            /* auto-complete customers */
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'), //customer has value called "name"
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY', //based on what we type in the wildcard
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 3, //minimum 3 characters
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function (e, customer) {
                vm.customerId = customer.id;
            });

            /* auto-complete movies */
            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'), //customer has value called "name"
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY', //based on what we type in the wildcard
                    wildcard: '%QUERY'
                }
            });

            $('#movie').typeahead({
                minLength: 3, //minimum 3 characters
                highlight: true
            }, {
                name: 'movies',
                display: 'name',
                source: movies
            }).on("typeahead:select", function (e, movie) {
                $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");

                //Clear the selection
                $("#movie").typeahead("val", "");

                vm.movieIds.push(movie.id);
            });

            //Create custom validator
            // To apply : <input id="customer" data-rule-validCustomer="true" type="text" value="" class="form-control" required />
            $.validator.addMethod("validCustomer", function () {
                return vm.customerId && vm.customerId !== 0;
            }, "Please select a valid customer.");

            $("#newRental").validate({
                //if the form is valid, then it will call the submit handler
                submitHandler: function () {
                    //To prevent submit form action normally
                    e.preventDefault();

                    $.ajax({
                        url: "/api/newRentals",
                        method: "post",
                        data: vm //our ViewModel
                    })
                    .done(function () {
                        toastr.success("Rental successfully recorded.");
                    })
                    .fail(function () {
                        toastr.error("Something unexpected happened.");
                    });
                }
            });
            /*
            Submit method no validation
            $("#newRental").submit(function (e) {
                //To prevent submit form action normally
                e.preventDefault();

                $.ajax({
                    url: "/api/newRentals",
                    method: "post",
                    data: vm //our ViewModel
                })
                .done(function () {
                    toastr.success("Rental successfully recorded.");
                })
                .fail(function () {
                    toastr.error("Something unexpected happened.");
                });
            });
            */

        });
    </script>
}