@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customers</th>
            <th>Membership Type</th>
            <th>Discount Rate</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            //Initialize jQuery datatables
            $("#customers").DataTable({
                /*
                dataSrc: ""
                because our return data as the following
                [
                    {
                        "id": 3,
                        "name": "micasasdkey mouse2",
                        "genreId": 1,
                        "dateAdded": "2018-09-20T00:00:00",
                        "releasedDate": "2018-09-20T00:00:00",
                        "numberInStock": 1
                    }
                ]

                if our API response data as the below, we need to set customers as our dataSrc

                customers: [
                    {
                        "id": 3,
                        "name": "micasasdkey mouse2",
                        "genreId": 1,
                        "dateAdded": "2018-09-20T00:00:00",
                        "releasedDate": "2018-09-20T00:00:00",
                        "numberInStock": 1
                    }
                ]
                */
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name", //use this to get name from API response json data
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a class='btn-link' href='/Customers/Edit/" + data + "'> Edit </a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + "> Delete </button>";
                        }
                    }
                ]
            });

            /*
            To optimise jQuery

            The following code will implement jQuery on each record which is expensive (memory)
            $("#customers .js-delete").on("click", function () {

            we need to replace to the following implementation to implement on the table only
            $("#customers").on("click", ".js-delete", function () {

            */
            //$("#customers .js-delete").on("click", function () {
            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Do you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                //console.log("success");
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
                /*
                // Default dialog box - no bootstrap, using native
                if (confirm("Do you want to delete this customer?")) {
                    $.ajax({
                        url: "/api/customers/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            //console.log("success");
                            button.parents("tr").remove();
                        }
                    });
                }*/
            });
        });
    </script>
    
}